.bookSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.bookCard {
  background-color: white;
  padding: 5px;
  width: 50%;
  margin: 10px 5px;
  border-radius: 10px;
  display: flex;
  
  img{
    padding: 1rem;
    border-radius: 5px;
  }
}


@media screen and (max-width: 800px) {
  .bookCard {
    width: 40%;
    flex-direction: column;

    span {
      margin: 0.5rem;
    }
    h3{
      margin-top: 0;
    }
  }
}
