.bookSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.bookCard {
  background-color: white;
  padding: 5px;
  width: 50%;
  height: 350px;
  margin: 10px 5px;
  border-radius: 10px;
  display: flex;

  
  img{
    margin: 1rem;
    border-radius: 5px;
    width: 250px;
  }
}


@media screen and (max-width: 600px) {
  .bookCard {
    width: 70%;
    min-width: 30%;
    flex-direction: column;

    span {
      margin: 0.5rem;
    }
    h3{
      margin-top: 0;
    }
  }
}
