html{
  box-sizing: border-box;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1568667256549-094345857637?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}